.p {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
}

.p .p-main {
  z-index: 1;
  margin: 15vh 10vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.p .p-header {
  display:flex;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 40px;
}

.p .p-header .p-title {
  flex:2;
  color: var(--text-primary);
  font-size: var(--title-size);
  font-weight: var(--title-bold);
  text-align: left;
}

.p .p-header .p-cases {
  flex:3;
  display: flex;
  justify-content: right;
}

.p .p-header .p-cases .p-demos-space {
  flex: 1;
}

.p .p-header .p-cases .p-wallet,
.p .p-header .p-cases .p-demos {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: rgba(var(--bg-p-r),var(--bg-p-g),var(--bg-p-b),0.5);
  border-radius: 5px;
  color: var(--text-primary);
  font-size: var(--content-size);
  font-weight: var(--title-bold);
}

.p .p-header .p-cases .p-wallet {
  border: 2px solid white;
}

[p-demo-focus="true"] {
  border: 2px solid var(--text-secondary);
}

.p .p-header .p-cases .p-demos:hover,
.p .p-header .p-cases .p-wallet:hover {
  background-color: var(--bg-focus);
  box-shadow: 0px 0px 10px var(--text-primary);
  cursor: pointer;
}

.p .p-header .p-cases .p-demos:active,
.p .p-header .p-cases .p-wallet:active {
  transform: scale3d(1.04,1.02,1.1);
  border-color: gray;
}

.p .p-header .p-cases .p-wallet div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p .p-header .p-cases .p-wallet img {
  padding-left: 20px;
  width: 40px;
  height: 40px;
}

.p .p-header .p-cases .p-wallet div div {
  padding-right: 20px;
}

.p .p-wallet {
  color: aliceblue;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80%;
  background-color: var(--bg-primary);
  flex-direction: column;
  border-radius: 30px;
}

.p .p-wallet-box {
  font-size: 28px;
  margin: 15px 10px;
  display: flex;
  width: 100%;
  height: 60px;
}

.p .p-wallet-icon-box {
  flex: 3;
  margin-left: 40px;
  height: 60px;
  z-index: 100;
  background-color: var(--bg-focus);
  border-radius: 5px 0 0 5px;
  border-top: 2px outset white;
  border-bottom: 2px outset white;
  border-left: 2px outset white;
}

.p .p-wallet-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.p .p-name {
  height: 100%;
  flex: 8;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: var(--bg-focus);
  border-radius: 0 5px 5px 0;
  border-top: 2px outset white;
  border-bottom: 2px outset white;
  border-right: 2px outset white;
  margin-right: 40px;
}

.p .p-wallet-icon-box:hover,
.p .p-name:hover {
  cursor: pointer;
}


.p .p-name-text {
  font-weight: var(--title-bold);
}


.p .p-content-box,
.p .p-content-card {
  position: relative;
  width: 80vw;
  height: 60vh;
  border-radius: 30px;

  font-size: 100px;
  z-index: 1;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 5px white;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Demos */
.p .p-d-main {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(var(--bg-p-r),var(--bg-p-g),var(--bg-p-b),0.5);
}

.p .p-d-main .p-vesting {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.p .p-d-main .p-v-app {
  flex:1;
  height: 100%;
  color: var(--text-primary);
  font-weight: var(--title-bold);
  display: flex;
}

.p .p-v-box {
  display:flex;
  height: 100%;
  flex-direction: column;
}

.p .p-v-box .p-v-words {
  height: 100%;
  flex: 1;
  font-size: medium;
  margin: 30px 30px 10px 30px;

}

.p .p-v-box .p-v-words .p-v-title {
  font-size: var(--middle-title-size);
  text-align: left;
  margin-bottom: 15px;
}

.p .p-v-box .p-v-words .p-v-desc {
  font-size: var(--content-size+6);
  text-align: left;
  
}

.p .p-v-box .p-v-fields {
  display: flex;
  flex: 3.5;
  flex-direction: column;
  /* background-color: #fff; */
}

.p .p-v-box .p-v-fields .p-v-receive-b,
.p .p-v-box .p-v-fields .p-v-ddl-b ,
.p .p-v-box .p-v-fields .p-v-amount-b {
  flex:1;
  width: 100%;
  display: flex;
  padding-left: 30px;
  justify-content: left;
  align-items: center;
  /* background-color: #fff; */
}

.p .p-v-box .p-v-fields .p-v-submit-b button,
.p .p-v-box .p-v-fields input {
  height: 50px;
  width: 80%;
  border-radius: 15px;
  background-color: var(--bg-focus);
  color: var(--text-primary);
}

.p .p-v-box .p-v-fields .p-v-submit-b button {
  border: 2px solid var(--text-secondary);
  width: 40%;
}

.p .p-v-box .p-v-fields input {
  padding-left: 15px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding: 15px
}

::placeholder {
  color: var(--text-primary);
  opacity: 0.7;
}

.p .p-v-box .p-v-fields .p-v-submit-b {
  flex:1;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
}


.p .p-d-main .p-v-info {
  flex:1;
  color: white;
  font-size:medium;
  display: flex;
  align-items: start;
  justify-content: start;
}

.p .p-v-info {
  display: flex;
  flex-direction: column;
  height: 80%;
  /* background-color: #fff; */
}


.p .p-v-i-type,
.p .p-v-i-amount,
.p .p-v-i-ddl {
  width: 100%;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 150px; */
}

.p .p-v-i-type {
  flex:0.5;
}

.p .p-v-i-row-h {
  color: var(--text-primary);
  font-weight: var(--title-bold);
  text-shadow: 0 0 5px black,  0 0 10px black;
  background-color: var(--text-secondary);
}

.p .p-v-i-row-h,
.p .p-v-i-row {
  margin: 10px;
  height: 50px;
  width: 88%;
  /* background-color: #fff; */
  border-radius: 10px;
  /* background-color: var(--bg-focus); */
  border: 2px solid white;

  display: flex;
}

.p .p-v-i-row th {
  display: flex;
  background-color: #fff;
}

.p .p-v-spacer {
  flex:0.5
}








.p .p-token {
  flex:1;
  height: 100%;
  color: white;

  display:flex;
  align-items: center;
  justify-content: center;
}